/* ----- fonts */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,600&display=swap");
/* fonts ----- */
/* ----- zeroing */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* zeroing ----- */
/* ----- arrow */
.arrow {
  position: relative;
  z-index: 1;
  width: 15px;
  height: 15px;
  background-color: transparent;
  cursor: pointer;
}

.arrow .arrow__close {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-60%, -60%);
          transform: translate(-60%, -60%);
  z-index: 3;
  width: 50%;
  height: 50%;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.arrow .arrow__close::before, .arrow .arrow__close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  width: 120%;
  height: 1.5px;
  background-color: #ff2400;
  border-radius: 4px;
}

.arrow .arrow__close::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.arrow .arrow__close::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.arrow .arrow__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -80%) rotate(135deg);
          transform: translate(-50%, -80%) rotate(135deg);
  width: 50%;
  height: 50%;
  background-color: transparent;
  border-radius: 0 1px 0 0;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}

.arrow .arrow__vertical-line {
  position: absolute;
  top: calc(50% + 20px);
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  height: 0;
  border-left: 2px dashed #d9d9d9;
}

@media screen and (hover: hover) {
  .arrow:hover .arrow__icon {
    border-top: 2px solid #484545;
    border-right: 2px solid #484545;
  }
}

.arrow:active .arrow__icon {
  border-top: 2px solid #484545;
  border-right: 2px solid #484545;
}

.arrow._no-sublist .arrow__icon {
  opacity: 0;
}

.arrow._no-sublist .arrow__close {
  opacity: 1;
}

.arrow._show-sublist .arrow__icon {
  -webkit-transform: translate(-50%, -30%) rotate(-45deg);
          transform: translate(-50%, -30%) rotate(-45deg);
}

/* arrow ----- */
/* ----- checkbox */
.checkbox {
  position: relative;
  min-width: 18px;
  min-height: 18px;
  cursor: pointer;
}

.checkbox::before, .checkbox::after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.checkbox::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #035b77;
  border-radius: 4px;
}

.checkbox::after {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  width: 4px;
  height: 4px;
  background-color: #035b77;
  border-radius: 50%;
}

.checkbox .checkbox__input {
  display: none;
}

@media screen and (hover: hover) {
  .checkbox:hover::before {
    background-color: #035b7710;
  }
}

.checkbox:active::before {
  background-color: #035b7710;
}

.checkbox._checked::before {
  background-color: #035b77;
}

.checkbox._checked::after {
  width: 9px;
  height: 5px;
  background-color: transparent;
  border-radius: 0 0 0 1px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
}

/* checkbox ----- */
/* ----- option */
.option {
  position: relative;
  width: 100%;
  padding: 0 20px;
}

.option .option__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.option .option__text {
  padding: 6px 0;
  font-size: 14px;
  line-height: 18px;
  word-wrap: break-word;
  color: #484545;
  background-color: transparent;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.option .option__arrow {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.option._selected {
  background-color: #035b7710;
}

/* option ----- */
/* ----- select */
.select {
  padding: 10px;
  width: 100%;
}

.select .select__container {
  width: 640px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .select .select__container {
    width: 90%;
  }
}

.select .select__body {
  background-color: #fff;
}

.select .select__header {
  padding: 18px 20px;
}

.select .select__header > :last-child {
  margin-bottom: 0;
}

.select .select__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .select .select__heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.select .select__title {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.select .select__title::before, .select .select__title::after {
  content: "";
  position: absolute;
  left: -30px;
  top: 50%;
  background-color: #000;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.select .select__title::before {
  -webkit-transform: translate(0, -50%) rotate(-45deg);
          transform: translate(0, -50%) rotate(-45deg);
  width: 12px;
  height: 12px;
  background-color: transparent;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
}

.select .select__title::after {
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 15px;
  height: 2px;
}

@media screen and (max-width: 768px) {
  .select .select__title {
    margin-bottom: 5px;
    text-align: center;
  }
}

@media screen and (hover: hover) {
  .select .select__title:hover::before {
    border-top: 2px solid #035b77;
    border-left: 2px solid #035b77;
  }
  .select .select__title:hover::after {
    background-color: #035b77;
  }
}

.select .select__title:active::before {
  border-top: 2px solid #035b77;
  border-left: 2px solid #035b77;
}

.select .select__title:active::after {
  background-color: #035b77;
}

.select .select__btn_show-selected {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: #035b77;
  background-color: transparent;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

@media screen and (hover: hover) {
  .select .select__btn_show-selected:hover {
    color: #d9d9d9;
  }
}

.select .select__btn_show-selected:active {
  color: #d9d9d9;
}

.select .select__selected-options {
  position: relative;
  width: 100%;
}

.select .select__selected-options::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%) scale(0);
          transform: translate(0, -50%) scale(0);
  width: 2px;
  height: 90%;
  background-color: #035b77;
  border-radius: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.select .select__input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #27252660;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

@media screen and (hover: hover) {
  .select .select__input:hover {
    color: #272526;
    background-color: #035b7710;
  }
}

.select .select__input:active {
  color: #272526;
  background-color: #035b7710;
}

.select .select__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 0px;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.select .select__content > * {
  width: 100%;
}

.select .select__main {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.select .select__options-list {
  padding: 10px 0;
  overflow-y: auto;
}

@media screen and (min-width: 768px) {
  .select .select__options-list {
    max-height: 415px;
  }
  .select .select__options-list::-webkit-scrollbar {
    width: 4px !important;
  }
  .select .select__options-list::-webkit-scrollbar-track {
    background-color: #d9d9d9;
  }
  .select .select__options-list::-webkit-scrollbar-thumb {
    background: #035b77;
    border-radius: 10px;
  }
}

.select .select__options-sublist {
  overflow: hidden;
}

.select .select__footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
  background-color: #fafafa;
}

.select .select__btn_accept {
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  padding: 11px 20px;
  background-color: #035b77;
  border: 2px solid transparent;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (hover: hover) {
  .select .select__btn_accept:hover {
    color: #035b77;
    background-color: #fafafa;
    border: 2px solid #035b77;
  }
}

.select .select__btn_accept:active {
  color: #035b77;
  background-color: #fafafa;
  border: 2px solid #035b77;
}

.select .select__btn_clear {
  font-weight: 600;
  text-transform: capitalize;
  color: #27252660;
  background-color: transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (hover: hover) {
  .select .select__btn_clear:hover {
    color: #ff2400;
  }
}

.select .select__btn_clear:active {
  color: #ff2400;
}

.select._there-are-selected .select__btn_show-selected {
  opacity: 1;
  pointer-events: all;
}

.select._there-are-selected .select__selected-options::before {
  -webkit-transform: translate(0, -50%) scale(1);
          transform: translate(0, -50%) scale(1);
}

.select._there-are-selected .select__selected-options .select__input {
  color: #272526;
}

.select._show-options .select__btn_show-selected {
  opacity: 0;
  pointer-events: none;
}

.select._show-options .select__header {
  background-color: #fafafa;
}

.select._show-options .select__title {
  padding-left: 30px;
  cursor: pointer;
}

.select._show-options .select__title::before, .select._show-options .select__title::after {
  left: 4px;
}

.select._show-options .select__selected-options .select__input {
  color: #272526;
}

.select._show-options .select__selected-options .select__input._hide-text {
  color: rgba(255, 0, 0, 0);
}

.select._show-options .select__content {
  height: 480px;
  -webkit-user-select: all;
     -moz-user-select: all;
      -ms-user-select: all;
          user-select: all;
  pointer-events: all;
}

@media screen and (max-width: 768px) {
  .select._show-options .select__content {
    height: 350px;
    overflow: auto;
  }
  .select._show-options .select__content::-webkit-scrollbar {
    width: 4px !important;
  }
  .select._show-options .select__content::-webkit-scrollbar-track {
    background-color: #d9d9d9;
  }
  .select._show-options .select__content::-webkit-scrollbar-thumb {
    background: #035b77;
    border-radius: 10px;
  }
}

@media screen and (max-width: 480px) {
  .select._show-options .select__content {
    height: 300px;
  }
}

/* select ----- */
.wrapper {
  background-color: #272526;
  max-width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden;
}

._none {
  display: none;
}

._hide {
  opacity: 0;
}

._hide-text {
  color: rgba(255, 0, 0, 0);
}

._highlight {
  background-color: #ff240020;
}

._delay {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/*# sourceMappingURL=main.css.map */