.arrow {
  position: relative;
  z-index: 1;
  width: 15px;
  height: 15px;
  background-color: transparent;
  cursor: pointer;
  .arrow__close,
  .arrow__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    height: 50%;
    transition: $delay;
    pointer-events: none;
  }
  .arrow__close { 
    transform: translate(-60%, -60%);
    z-index: 3;
    opacity: 0;
    user-select: none;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0%;
      width: 120%;
      height: 1.5px;
      background-color: $red;
      border-radius: 4px;
    }
    &::before {
      transform: rotate(-45deg);
    }
    &::after {
      transform: rotate(45deg);
    }
  }
  .arrow__icon {
    z-index: 2;
    transform: translate(-50%, -80%) rotate(135deg);
    background-color: transparent;
    border-radius: 0 1px 0 0;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
  }
  .arrow__vertical-line {
    position: absolute;
    top: calc(50% + 20px);
    left: 50%;
    transform: translate(-50%, 0);
    height: 0;
    border-left: 2px dashed $gray;
  }
  @media screen and (hover: hover) {
    &:hover {
      .arrow__icon {
        border-top: 2px solid $dark;
        border-right: 2px solid $dark;
      }
    }
  }
  &:active {
    .arrow__icon {
      border-top: 2px solid $dark;
      border-right: 2px solid $dark;
    }
  }
  &._no-sublist {
    .arrow__icon {
      opacity: 0;
    }
    .arrow__close {
      opacity: 1;
    }
  }
  &._show-sublist {
    .arrow__icon {
      transform: translate(-50%, -30%) rotate(-45deg);
    }
  }
}
